{% extends 'base.html.twig' %}

{% block body %}

<section class="curved container-fluid d-flex justify-content-center align-items-center">
		<img src="{{ asset('assets/img/osceale-logo.png') }}" alt="">
	</section>
	<div class="container mt-4 mb-4 ">
		<div class="row">
			<div class="col-12 d-flex flex-column align-items-center ">
				<h1 class="mt4">Créer un Article</h1>
			</div>
		</div>
	</div>

	<div class="container bloc_article_new mt-4 p-3 mb-4">


		

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.Titre) }}
			{{ form_widget(form.Titre) }}
			<div class="form-error">
				{{ form_errors(form.Titre) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.Description) }}
			{{ form_widget(form.Description) }}
			<div class="form-error">
				{{ form_errors(form.Description) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.Contenu) }}
			{{ form_widget(form.Contenu) }}
			<div class="form-error">
				{{ form_errors(form.Contenu) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.imageFile) }}
			{{ form_widget(form.imageFile) }}
			<div class="form-error">
				{{ form_errors(form.imageFile) }}
			</div>
		</div>
		

		<div class="form-group bloc_submit_article d-flex justify-content-end">
			{{ form_row(form.Submit, {'label': 'Créer nouvel article'}) }}
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
