<section class="curved_footer container-fluid d-flex justify-content-evenly align-items-center">
		<a href="https://www.courcelles-les-lens.fr/" target='_blank'>
            <img src="{{ asset('assets/img/logo_courcelles_les_lens.png') }}" alt="logo_courcelles_les_lens.png">
        </a>
		<a href="https://www.caf.fr/" target='_blank'>
            <img src="{{ asset('assets/img/caf.png') }}" alt="caf.png">
        </a>
		<a href="https://www.service-public.fr/" target='_blank'>
            <img src="{{ asset('assets/img/republique_francaise.png') }}" alt="republique_francaise.png">
        </a>
		<a href="https://www.ancv.com/" target='_blank'>
            <img src="{{ asset('assets/img/ancv.png') }}" alt="ancv.png">
        </a>
</section>
<section class="bas_noir_footer d-flex flex-column align-items-center justify-content-center pb-3 gap-3">
    <img src="{{ asset('assets/img/osceale-logo.png') }}" alt="osceale-logo.png">
    Site réalisé par Steve Staszak - osceale.fr
</section>

